<nav>
  <div class="nav-container">
    <img class='nav-logo' src="https://d335luupugsy2.cloudfront.net/cms/files/107693/1654526197/$g74vm2w5o56" alt="Orange Juice Logo Branco">
    <div class="nav-links">
      <span>Olá, <b>Erick</b>!</span>
    </div>
    <img class='nav-avatar' src="https://github.com/erickhwk.png" alt="">
  </div>
</nav>
