<h1>Subjects</h1>

<% @chapters.each do |chapter| %>
  <h4><%= chapter.name %></h4>
  <ul>
  <% chapter.subjects.each do |subject| %>
    <li><%= subject.name %></li>
  <% end %>
  </ul>
<% end %>
</ul>
