<h1>Aula</h1>

<% @subjects.each do |subject| %>
  <h4><%= subject.name %></h4>
  <ul>
  <% subject.lessons.each do |lesson| %>
    <li><%= lesson.name %> | <%= "#{lesson.duration} minutos" %> | <%= lesson.lesson_type %></li>
  <% end %>
  </ul>
<% end %>
</ul>
