<%# <h1>Aula</h1> <%= link_to 'Criar aula', new_lesson_path %>
<h1>Aula</h1>

<p>Essa é a página que vai conter todas as aulas</p>

<ul>
  <% @lessons.each do |lesson|  %>
  <li><%= lesson.name %></li>
  <% end %>
</ul>
