.track-container{
  max-width: 1200px;
  margin: 100px auto auto auto;
  background-color: white;
  padding: 3rem;
}

.tracks-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.track-card {
  display: flex;
  flex-direction: column;
}

.track-card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumb-url-holder {};

.thumb-url {
  background: #f56434;
  width: 15rem;
  padding: 3rem;
}

.links-section {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;

}

.community-content {
 ul {
  padding: 0;
  display: table;
 }

 li {
  display: flex;
  align-items: center;
  font-weight: var(--bold);
 }

}

.video-thumbs {
 display: inline;


}

.flex {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.discord-box {
  background: var(--gray-10);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;

  span {
    font-weight: var(--bold);
    font-size: 1.25rem;
    margin: 2rem;
  }

  .fa-discord {
    font-size: 3rem;
    margin: 2rem;
  }
}


#progress-body-container{
    min-width: 30px;
    min-height: 30px;
    background: orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#progress-container{
	display: flex;
	width: 2rem;
	padding: 1rem;
	border-radius: 8px;
	background: #F1F1F1;
	flex-direction: column;
	align-items: center;
	justify-content:center;
}

#circular-progress{
	position: relative;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: conic-gradient(#f56434 160deg, #F1F1F1 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

#circular-progress:before{
    content: "";
    height: 2%;
    width: 2%;
    border-radius: 50%;
    position: absolute;
    background-color: #F1F1F1;
    padding: 1rem;
}

.fa-youtube,
.fa-spotify,
.fa-twitch,
.fa-discord
 {
    left: 0%;
    right: 0%;
    top: 12.5%;
    bottom: 12.5%;

    color: #FF5A23;
    border-radius: 10%;
    margin: 0.5rem;
    text-align: end;
}